<!--<div class="container pt-5 border-top">
    <div class="container px-0 mb-5">
        <h1>Contact</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero nisi numquam excepturi error quibusdam esse, nemo iste distinctio non quasi possimus saepe quia voluptatibus ex. Quidem magnam dolores accusantium minima.</p>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 bg-light border rounded pl-5 pt-2">
            <form action="#">
                <div class="row">
                    <div class="col-3 text-end">
                        <label for="mail" class="col-form-label mb-3" style="font-weight:700">Your E-mail</label><br>
                        <label for="messa" class="col-form-label" style="font-weight:700">Your Message</label>
                    </div>
                    <div class="col-9 pr-2">
                        <input type="email" id="mail" class="form-control" aria-describedby="passwordHelpInline" placeholder="Your email"><br>
                        <textarea id="messa" class="form-control" aria-describedby="passwordHelpInline" rows="4" placeholder="Please entre your message here"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-end pt-3 pb-2">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>-->


<div class="container border-top pt-5">
    <div class="container px-0">
        <h4 style="font-size:40px" class="text-start">Contact</h4>
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quo blanditiis nihil. Velit illo cupiditate eveniet asperiores sunt tempora voluptatem cum quis laudantium dolor, sint tempore corporis nemo voluptatum corrupti.</p>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-0 col-md-1 col-lg-2"></div>
            <div class="col-12 col-md-10 col-lg-8 bg-light border ps-3 pe-3 ps-sm-5 pe-sm-2 pt-2 pb-3">
                <form>
                    <div class="row mb-3">
                        <label style="font-size: 0.9em" for="inputEmail3" class="col-sm-3 col-form-label text-start text-sm-end">Your Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label style="font-size: 0.9em" for="areatexto" class="col-sm-3 col-form-label text-start text-sm-end">Your Message</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="areatexto" rows="3"  placeholder="Please enter your message here.."></textarea>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
                        <button class="btn btn-primary" type="button">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-0 col-md-1 col-lg-2"></div>
        </div>
    </div>
</div>