<div class="container d-flex justify-content-space pt-5 border-top mt-5">
    <div class="container col-8 mx-0 px-0">
        <h4 class="d-inline" style="font-size:40px">The First Heading </h4><h4 class="d-inline text-secondary" style="font-size:40px">Will Catch Your Eye</h4>
        <p class="mt-4 p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nulla non odio ad sequi consequuntur esse ut ratione fugit cum expedita corrupti nemo veritatis assumenda, reprehenderit tempora sapiente nobis! Rerum.</p>
    </div>
    <div class="col-4 ml-3 d-flex justify-content-center">
        <img width="300px" class="rounded-circle" src="https://cdnb.artstation.com/p/assets/images/images/018/009/901/smaller_square/matheus-castro-walter-white.jpg?1558145601" alt="ww">
    </div>
</div>