
<!--
    <div class="container mx-0 px-0"> 
        <h2>Portfolio</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, obcaecati soluta explicabo deleniti laborum quibusdam velit eos neque dolor, aspernatur sit, nihil asperiores id alias distinctio at! Modi, quisquam laboriosam.</p>
        <div class="container row">
            <div class="col-4 mx-0 px-0">
                <img class="mb-3" src="https://vader.news/__export/1591069210952/sites/gadgets/img/2020/06/02/breaking_bad_prtada.png_1121438045.png" alt="bb" height="200px" width="350px">
                <h4 class="text-primary">Project name </h4>
                <p class="fs-6 me-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugiat omnis nisi molestiae quisquam explicabo porro repellendus, voluptatem, repudiandae nostrum minima distinctio? Velit sequi modi, expedita sunt ullam ea quaerat.</p>
            </div>
            <div class="col-4 mx-0 px-0">
                <img class="mb-3" src="https://vader.news/__export/1591069210952/sites/gadgets/img/2020/06/02/breaking_bad_prtada.png_1121438045.png" alt="bb" height="200px" width="350px">
                <h4 class="text-primary ">Project name </h4>
                <p class="fs-6 me-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugiat omnis nisi molestiae quisquam explicabo porro repellendus, voluptatem, repudiandae nostrum minima distinctio? Velit sequi modi, expedita sunt ullam ea quaerat.</p>
            </div>
            <div class="col-4 mx-0 px-0">
                <img class="mb-3" src="https://vader.news/__export/1591069210952/sites/gadgets/img/2020/06/02/breaking_bad_prtada.png_1121438045.png" alt="bb" height="200px" width="350px">
                <h4 class="text-primary">Project name </h4>
                <p class="fs-6 me-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, quis earum eligendi magni dolores omnis quod doloribus doloremque iure. Recusandae ex ad labore odit ab architecto quaerat dicta ipsum voluptatibus.</p>
            
            </div>
        </div>
    </div>-->
<div class="container border-top pt-5">
    <div class="container px-0">
        <h4 style="font-size:40px" class="text-start">Portfolio</h4>
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quo blanditiis nihil. Velit illo cupiditate eveniet asperiores sunt tempora voluptatem cum quis laudantium dolor, sint tempore corporis nemo voluptatum corrupti.</p>
    </div>
    <div class="container pt-4 pb-4 px-0 d-flex flex-wrap justify-content-evenly">
        <div class="card mb-4" style="width: 22rem;">
            <img class="card-img-top" src="https://vader.news/__export/1591069210952/sites/gadgets/img/2020/06/02/breaking_bad_prtada.png_1121438045.png" alt="Card image cap">
            <div class="card-body">
            <h4 class="card-title text-primary fw-bold">Project Name</h4>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quisquam, blanditiis architecto a recusandae mollitia porro itaque suscipit</p>
            </div>
        </div>
        <div class="card mb-4" style="width: 22rem;">
            <img class="card-img-top" src="https://vader.news/__export/1655583265074/sites/gadgets/img/2022/06/18/good_doctor.jpg_542783469.jpg" alt="Card image cap">
            <div class="card-body">
            <h4 class="card-title text-primary fw-bold">Project Name</h4>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quisquam, blanditiis architecto a recusandae mollitia porro itaque suscipit</p>
            </div>
        </div>
        <div class="card mb-4" style="width: 22rem;">
            <img class="card-img-top" src="https://vader.news/__export/1655599453710/sites/gadgets/img/2022/06/18/better-call-saul-season-6-lalo-salamanca.jpg_1137916424.jpg" alt="Card image cap">
            <div class="card-body">
            <h4 class="card-title text-primary fw-bold">Project Name</h4>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quisquam, blanditiis architecto a recusandae mollitia porro itaque suscipit</p>
            </div>
        </div>
    </div>
</div>