<div class="container d-flex justify-content-space pt-5 border-top mt-5">
    
    <div class="container col-8 mx-0 px-0"> 
        <h4>Portfolio</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, obcaecati soluta explicabo deleniti laborum quibusdam velit eos neque dolor, aspernatur sit, nihil asperiores id alias distinctio at! Modi, quisquam laboriosam.</p>
        <div> 
            <div>
                <div>
                    <img src="https://vader.news/__export/1591069210952/sites/gadgets/img/2020/06/02/breaking_bad_prtada.png_1121438045.png" alt="bb" height="200px" width="350px">
    
                </div>
                <div class="">
                    <div class="container col-8 mx-0 px-0">
                        <h5 class="text-primary">Project name </h5>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugiat omnis nisi molestiae quisquam explicabo porro repellendus, voluptatem, repudiandae nostrum minima distinctio? Velit sequi modi, expedita sunt ullam ea quaerat.</p>
                    </div>
                    <div>
                        <img src="https://vader.news/__export/1591069210952/sites/gadgets/img/2020/06/02/breaking_bad_prtada.png_1121438045.png" alt="bb" height="200px" width="350px">
        
                    </div>
                    <div class="container col-8 mx-0 px-0">
                        <h5>Project name </h5>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugiat omnis nisi molestiae quisquam explicabo porro repellendus, voluptatem, repudiandae nostrum minima distinctio? Velit sequi modi, expedita sunt ullam ea quaerat.</p>
                    </div>
                    <div>
                        <img src="https://vader.news/__export/1591069210952/sites/gadgets/img/2020/06/02/breaking_bad_prtada.png_1121438045.png" alt="bb" height="200px" width="350px">
        
                    </div>
                    <div class="container col-8 mx-0 px-0">
                        <h5>Project name </h5>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugiat omnis nisi molestiae quisquam explicabo porro repellendus, voluptatem, repudiandae nostrum minima distinctio? Velit sequi modi, expedita sunt ullam ea quaerat.</p>
                    </div>
                </div>
                
            </div>
            
    
        </div>
    </div>
   
</div>